body {
    font-family: "Arial", sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
  
  header {
    background-color: #3498db;
    color: white;
    padding: 20px;
  }
  
  .room {
    border-width: 3px;
    border-style: solid;
    border-color: #3498db;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    background-color: #ffffff;
    text-align: left;
    width: 300px;
    display: inline-block;
  }
  
  img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  /* Reservation Form Styling */
  /* Reservation Form Styling */
  .reservation-form {
    background-color: #3498db;
    color: white;
    padding: 20px;
    border-radius: 10px; /* Add border-radius for better styling */
    margin: 20px; /* Add margin for spacing */
  }
  
  #headingForm {
    margin-bottom: 20px;
  }
  
  input {
    width: 100%; /* Full width for input and select */
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #3498db;
    border-radius: 5px;
  }
  
  button {
    background-color: #0008ee;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  
  }
  