#container{
    display: flex;
    flex-direction: column-reverse;
    border: 2px solid blue;
}
.box {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  text-align: center;
  font-size: 2em;
}
#box1 {
  background-color: lightcoral;
}
#box2 {
  background-color: lightgreen;
}
#box3 {
  background-color: lightskyblue;
}
#box4 {
  background-color: lightpink;
}
